@model PublicTimelineViewModel
<h2>Public Timeline</h2>

@* Display Tweets *@

<ul class=messages>

    @if (Model.Messages.Count != 0)
    {
        foreach (var message in Model.Messages)
        {
            <li>
                @Html.GravatarImage(message.Author?.Email ?? string.Empty, size: 48, defaultImage:
                         GravatarHtmlHelper.DefaultImage.Identicon)
                @{
                    var url = $"/{message.Author?.Name ?? ""}";
                }
                <p>
                    <strong><a href="@url">@message.Author?.Name</a></strong>
                    @message.Text
                    <small>&mdash; @message.PubDate?.ToString("dd/MM/yyyy HH:mm")</small>
                </p>
            </li>
        }
    }
    else
    {
        <li><em>There's no message so far.</em></li>
    }
</ul>
